:root {
  --c-blue: #222c62;
  --c-orange: #ff5400;
  --c-gray: #212529;
  --c-l-gray: #757575;
}

body {
  font-family: "Raleway";
  overflow: hidden overlay;
  overflow-y: overlay;
}

main {
  margin: 1.9vw 2.2vw;
}

h1 {
  position: relative;
  font-weight: 900;
  font-size: clamp(2.4rem, 0.5rem + 3.1vw, 3.8rem);
  text-transform: uppercase;
  color: var(--c-blue);
  padding-bottom: 0.8vw;

  &::after {
    content: '.';
    margin-left: -0.1vw;
    color: var(--c-orange);
  }

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 6%;
    height: 5px;
    background-color: var(--c-orange);
  }
}

h2 {
  margin-top: 3vw;
  font-size: clamp(.75rem, 0.5rem + 0.7vw, 1.25rem);
  letter-spacing: .01em;
}

#rc {
  grid-column: 1/-1;
  margin-top: -2vw;
  padding-bottom: 0.8vw;
  transform: scale(1.2) translate(0, 0);
  transform-origin: top left;
  min-height: 78px;

  @media (max-width: 55em) {
    transform: scale(0.8) translate(0, 0);
    min-height: 62px;
  }
}

dialog {
  font-size: clamp(0.75rem, 0.5rem + 0.7vw, 1.25rem);
  padding: 2em 4em;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  backdrop-filter: blur(5px);
  box-shadow: 0px 0px 20px black;
  border-radius: 0 0 1em 1em;

  button {
    text-align: center;
    width: 100%;
    margin-top: 1em;
    cursor: pointer;
    color: var(--c-orange);

    &:hover {
      color: var(--c-blue);
    }
  }

  @media (max-width: 55em) {
    width: 95%;
  }
}